body{
    --color-accent: #dc3546c5;
    --color-accent-hover: #911f2bb5;
    --gray-color: #2e3135;
    --grey-color: #8b8b8b;
    color: var(--grey-color);
    background-color: var(--gray-color);
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10000;
    color: #8b8b8b;
}

nav h2{
    color:white;
}

.nav-items {
    display: inline-flex;
    list-style-type: none;
    display: flex;
    padding: 0;
    align-items: center;
    margin: 0;
    margin-left: auto;
}

nav ul li a{
    color: #8b8b8b;
    text-decoration: none;
    font-weight: 600;
    padding-left: 20px;
}

nav ul li a:hover{
    color:var(--color-accent-hover);
}

.text-danger{
    color: var(--color-accent) !important;
}


/*accueil*/
/*  --------------------------------------------*/
#accueil{
    min-height: 100vh; /* Prend toute la hauteur de l'écran */
    background-image: url("../../images/lego_office.jpg"); /* Image de fond */
    background-size: cover; /* L'image couvre tout l'écran */
    background-position: center; /* Centrer l'image */
    display: flex; /* Utilisation de Flexbox */
    justify-content: center; /* Centrer horizontalement le contenu */
    align-items: center; /* Centrer verticalement le contenu */
    width: 100%; /* Prend toute la largeur */
    border-radius: 8px;
}

#text-presentation{
    background-color: rgba(0, 0, 0, 0.75); /* Fond semi-transparent pour le texte */
    color: white; /* Couleur du texte */
    padding: 300px; /* Espacement interne */
    text-align: center;
    width: 100%; /* Prend toute la largeur disponible */
    height: 100%; /* Prend toute la hauteur disponible */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centrer verticalement le contenu interne */
}

.description{
    max-width: 550px;
    margin: 15px auto;
    font-size: 16px;
    text-align: center;
}

.text-bienvenue{
    font-size: 34px;
    text-align: center;
}

.big-text{
    font-size: 50px;
    font-weight: bold;
}

#btn-container {
    display: flex; /* Active Flexbox */
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
}

#btn-cv {
    width: 200px;
    background-color: transparent; /* Fond noir */
    color: var(--color-accent-hover); /* Texte rouge */
    border: 2px solid var(--color-accent-hover); /* Bordure rouge */
    padding: 10px 20px; /* Taille du bouton réduite */
    font-size: 16px; /* Taille de texte plus petite */
    text-decoration: none;
    text-transform: uppercase; /* Texte en majuscules pour un effet stylé */
    cursor: pointer;
    transition: all 0.3s ease; /* Transition pour un effet fluide au survol */
}

#btn-cv:hover {
    background-color: var(--color-accent-hover);; /* Fond rouge au survol */
    color: white; /* Texte noir au survol */
    border: 2px solid var(--gray-color); /* Bordure noire au survol */
}
/**************************************************/
/*          about ***********/


#about{
    
    display: flex;
    justify-items: center;
    align-items:center;
    gap: 20px;

}
.about-image-container{
    width: 50%;
    padding-top: 50px;
    padding-left: 50px;
   flex-shrink: 0;
}

.about-image-container img {
    width: 100%;
    height: auto;
    border-radius:8px;
}

.about-description{
    flex-grow: 1;
    padding-left: 20px;
    color: #fff;
    font-size: 1.25em;
}
/*             -----------------------------------------*/

#competences h2{
    color: white;
}

.competences-container{
    display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 4rem 5%;
}

.competence{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    margin: 0px 1.25rem;
}

.competence .image-container{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.competence .image-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.card-title{
    text-align: center;
    margin-top: 1rem;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
}


/*------------------contact---------------------------------*/
/*formulaire*/
#contact-form {
    max-width: 500px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    height: 150px;
}

button[type="submit"] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #45a049;
}
